.btn-mnd { 
  color: #ffffff; 
  background-color: #747785; 
  border-color: #130269; 
} 
 
.btn-mnd:hover, 
.btn-mnd:focus, 
.btn-mnd:active, 
.btn-mnd.active, 
.open .dropdown-toggle.btn-mnd, .btn-mnd.activeBut { 
  color: #ffffff; 
  background-color: #75C1FF; 
  border-color: #130269; 
} 
 
.btn-mnd:active, 
.btn-mnd.active, 
.open .dropdown-toggle.btn-mnd { 
  background-image: none; 
} 
 
.btn-mnd.disabled, 
.btn-mnd[disabled], 
fieldset[disabled] .btn-mnd, 
.btn-mnd.disabled:hover, 
.btn-mnd[disabled]:hover, 
fieldset[disabled] .btn-mnd:hover, 
.btn-mnd.disabled:focus, 
.btn-mnd[disabled]:focus, 
fieldset[disabled] .btn-mnd:focus, 
.btn-mnd.disabled:active, 
.btn-mnd[disabled]:active, 
fieldset[disabled] .btn-mnd:active, 
.btn-mnd.disabled.active, 
.btn-mnd[disabled].active, 
fieldset[disabled] .btn-mnd.active { 
  background-color: #747785; 
  border-color: #130269; 
} 
 
.btn-mnd .badge { 
  color: #747785; 
  background-color: #ffffff; 
}

.btn-mnd { 
  color: #ffffff; 
  background-color: #747785; 
  border-color: #130269; 
} 
 
.btn-mnd:hover, 
.btn-mnd:focus, 
.btn-mnd:active, 
.btn-mnd.active, 
.open .dropdown-toggle.btn-mnd { 
  color: #ffffff; 
  background-color: #75C1FF; 
  border-color: #130269; 
} 
 
.btn-mnd:active, 
.btn-mnd.active, 
.open .dropdown-toggle.btn-mnd { 
  background-image: none; 
} 
 
.btn-mnd.disabled, 
.btn-mnd[disabled], 
fieldset[disabled] .btn-mnd, 
.btn-mnd.disabled:hover, 
.btn-mnd[disabled]:hover, 
fieldset[disabled] .btn-mnd:hover, 
.btn-mnd.disabled:focus, 
.btn-mnd[disabled]:focus, 
fieldset[disabled] .btn-mnd:focus, 
.btn-mnd.disabled:active, 
.btn-mnd[disabled]:active, 
fieldset[disabled] .btn-mnd:active, 
.btn-mnd.disabled.active, 
.btn-mnd[disabled].active, 
fieldset[disabled] .btn-mnd.active { 
  background-color: #747785; 
  border-color: #130269; 
} 
 
.btn-mnd .badge { 
  color: #747785; 
  background-color: #ffffff; 
}


.btn-chp { 
  color: #ffffff; 
  background-color: #999999; 
  border-color: #000000; 
} 
 
.btn-chp:hover, 
.btn-chp:focus, 
.btn-chp:active, 
.btn-chp.active, 
.open .dropdown-toggle.btn-chp, .btn-chp.activeBut { 
  color: #ffffff; 
  background-color: #A92523; 
  border-color: #000000; 
} 
 
.btn-chp:active, 
.btn-chp.active, 
.open .dropdown-toggle.btn-chp { 
  background-image: none; 
} 
 
.btn-chp.disabled, 
.btn-chp[disabled], 
fieldset[disabled] .btn-chp, 
.btn-chp.disabled:hover, 
.btn-chp[disabled]:hover, 
fieldset[disabled] .btn-chp:hover, 
.btn-chp.disabled:focus, 
.btn-chp[disabled]:focus, 
fieldset[disabled] .btn-chp:focus, 
.btn-chp.disabled:active, 
.btn-chp[disabled]:active, 
fieldset[disabled] .btn-chp:active, 
.btn-chp.disabled.active, 
.btn-chp[disabled].active, 
fieldset[disabled] .btn-chp.active { 
  background-color: #999999; 
  border-color: #000000; 
} 
 
.btn-chp .badge { 
  color: #999999; 
  background-color: #ffffff; 
}