@font-face {
    font-family: FrankGothic;
    src: url("../fonts/franklingothic-demiit-webfont.woff");
}
@font-face {
    font-family: PlayfairReg;
    src: url("../fonts/PlayfairDisplay-Regular.otf");
}

@font-face {
    font-family: DinPro;
    src: url("../fonts/din-pro-cond/DINPro-CondMedium.otf");
}